.notFound {  
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFound-title {
    font-size: 4rem;
    text-align: center;
}

.notFound-img {
    width: 95%;
}

.notFound-text {
    text-align: center;
    font-size: 2.2rem;
}

.notFound-span {
    font-weight: bold;
    color: #6C63FF;
}

.notFound-span:hover{
    text-decoration: underline;
}


/*Tablet*/
@media(min-width: 768px){

    .notFound-title {
        font-size: 7rem;

    }

    .notFound-img {
        display: block;
        margin: 0 auto;
        width: 800px;
    }

    .notFound-text {
        font-size: 3rem;
    }
}

/*Desktop*/

@media(min-width: 1240px){
    .notFound-title {
        font-size: 6rem;

    }

    .notFound-img {
        display: block;
        margin: 0 auto;
        width: 800px;
    }
    
    .notFound-text {
        font-size: 3rem;
    }
}
